body {
  font-family: 'Oxygen', sans-serif;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background-color: #fff;
}

.nav-font {
  color: #344f63;
}

h5 {
  color: #F1A71E;
  font-size: 16px !important;
  line-height: 150% !important;
  font-weight: bold;
}

h4.block {
  color: #fff;
  font-size: 22px;
}

.welcome-h {
  color: #F1A71E;
  font-size: 50px;
  padding-bottom: 20px;
}

.welcome-p {
  color: #344f63;
  font-size: 30px;
  line-height: 45px;
}

blockquote {
  padding-right: 10px;
  border-left: 5px solid #344f63 !important;
}

.btn {
  background-color: #344f63 !important;
  color: white !important;
}

.btn-project {
  background-color: #344f63 !important;
  color: white !important;
  height: 26px !important;
  font-size: 0.7rem !important;
  line-height: 26px !important;
}

nav .brand-logo {
  font-size: 20px !important;
  color: #F1A71E !important;
  padding-left: 3% !important;
}

.nav-button {
  margin-left: 50px;
  background-color: #fff !important;
}

a.contact:link {
  color: #344f63;
}

a.contact:visited {
  color: #344f63;
}

a.contact:hover {
  color: #778899;
}

a.contact:active {
  color: #344f63;
}

i.contact {
  padding-top: 30px;
  padding-right: 30px;
}

td, th {
  padding: 5px !important;
}

td.block {
  text-align: center;
}

th.block {
  text-align: center;
}

.work-icon {
  width: 35px;
}

.intro-icon {
  width: 60px;
  margin: 10px;
}

.intro-icon-three {
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 65%;
  right: 0%;
  left: 76%;
}

.intro-icon-one {
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 14%;
  right: 0%;
  left: 41%;
}

.intro-icon-two {
  width: 50px;
  position: absolute;
  z-index: 1;
  top: 65%;
  right: 0%;
  left: 8%;
}

.work {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.side-content {
  background: #F1A71E;
  color: #fff;
  width: 45%;
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 10%;
}

.side-content-two {
  background: #F1A71E;
  color: #fff;
  width: 45%;
  padding-top: 6%;
  padding-bottom: 3%;
  padding-left: 8%;
  padding-right: 10%;
}

.block-wrapper {
  width: 45%;
}

.block-one {
  background: #668B8B;
  color: #fff;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 5%;
  padding-left: 6%;
  padding-right: 6%;
  width: 50%;
  height: 50%;
  float: left;
}

.block-two {
  background-image: url(../images/profile.jpg);
  background-size: contain;
  color: #fff;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 6%;
  padding-right: 6%;
  width: 50%;
  height: 50%;
  float: left;
}

.main-content {
  background: #fff;
  width: 55%;
  padding-top: 5%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.block-three {
  background: #4A708B;
  color: #fff;
  text-align: center;
  padding-top: 14%;
  padding-bottom: 6%;
  padding-left: 6%;
  padding-right: 6%;
  width: 50%;
  height: 50%;
  float: left;
}

.block-four {
  background: #698da6;
  color: #fff;
  text-align: center;
  padding-top: 16.4%;
  padding-bottom: 6%;
  padding-left: 15%;
  padding-right: 15%;
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
}

.bottom-content {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.footer-content {
  width: 100%;
  padding-left: 10%;
  font-size: 12px;
}

.left {
  padding-left: 10% !important;
}

.project-divider {
  margin-bottom: 10px;
  margin-top: 10px;
}

.bottom-divider {
  margin-bottom: 10px;
}

.button-collapse {
  color: black !important;
}

.project-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.project-one {
  background-image: url(../images/musicscraper.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #d3d3d3;
  padding: 2%;
  width: 45%;
  height: 300px;
}

.project-two {
  background-image: url(../images/tictactoe.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #d3d3d3;
  width: 45%;
  height: 280px;
}

.project-three {
  background-image: url(../images/confuzr.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #d3d3d3;
  width: 45%;
  height: 300px;
}

.project-four{
  background-image: url(../images/welovefoods.png);
  background-repeat: no-repeat;
  background-size: 110%;
  border: 1px solid #d3d3d3;
  width: 45%;
  height: 300px;
}

.project-side {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
}

.project-side-one {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 10%;
}

.project-side-two {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 10%;
}

.project-side-three {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 10%;
}

.project-side-four {
  width: 50%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 10%;
}

.project-nav-one {
  width: 5%;
}

.project-nav-two {
  width: 5%;
}

.project-nav-three {
  width: 5%;
}

.project-nav-four {
  width: 5%;
}

.p-color {
  color: #344f63;
}

.p-project {
  color: #344f63;
  padding-top: 3%;
  padding-bottom: 3%;
}

hr.one {
  transform: rotate(50deg);
  width: 58%;
  position: absolute;
  z-index: 0;
  top: 40%;
  right: 0%;
  left: 30%;
}

hr.two {
  transform: rotate(130deg);
  width: 52%;
  position: absolute;
  z-index: 0;
  top: 42%;
  right: 35%;
  left: 0%;
}

hr.three {
  width: 64%;
  position: absolute;
  z-index: 0;
  top: 73%;
  right: 0%;
  left: 0%;
}

@media screen and (max-width: 1000px) {
  .block-wrapper {
    display: none;
  }
  .side-content {
    display: none;
  }
  .project-one {
    display: none;
  }
  .project-two {
    display: none;
  }
  .project-three {
    display: none;
  }
  .project-four {
    display: none;
  }
  .side-content-two {
    display: none;
  }
  .project-side-one {
    width: 100%;
  }
  .project-side-two {
    width: 100%;
  }
  .project-side-three {
    width: 100%;
  }
  .project-side-four {
    width: 100%;
  }
  .main-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .main-content-picture {
    width: 100%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 2000px) {
  .main-content-picture {
    display: none;
  }
}
